<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Add a New employee with this form</h2>
    <form action="http://localhost:3300/users" method="post" >
        <label for="emp_name">Emp. Name : </label>
        <input type="text" name="emp_name" required > <br>
        <label for="emp_mail">Emp. Mail: </label>
        <input type="email" name="emp_mail"  required ><br>
        <label for="emp_pass">Emp. password: </label>
        <input type="text" name="emp_pass"  required ><br>
        <button type="submit">Add Employee</button>
    </form>
</body>
</html>