<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h2>total number of employees : <%= count %></h2>
    <a href="http://localhost:3300/users">Check here !</a>
</body>
</html>