body{
    margin: 0%;
    padding: 0%;
}

.container{
    background-color: peachpuff;
    padding: 5rem;
}

.top{
    text-align: center;
}

.bottom{
    display:flex;
    justify-content: center;
}

.center{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.boxes{
    border: 2px solid black;
    border-radius: 20%;
    height: 100px;
    width: 100px;
    margin: 1rem;
    text-align: center;
}

.box1{
    background-color: red;

}

.box2{
    background-color: blue;
    
}

.box3{
    background-color: green;
}

.box4{
    background-color: yellow;
}

.flash{
    background-color: white;
}
.clicking{
    background-color: grey;
}

.false{
    background-color: red;
}