<% layout("/layouts/boilerplate") %>

    <body>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">

                    <div class="shadow-sm border-5">
                        <div class="card-body p-4">

                            <h2 class="mb-4 text-center">Create New Listing</h2>

                            <form action="/" method="POST">

                                <div class="mb-3">
                                    <label class="form-label">Title</label>
                                    <input type="text" class="form-control" name="newlist[title]"
                                        placeholder="Enter title">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Description</label>
                                    <textarea class="form-control" name="newlist[description]" rows="4"
                                        placeholder="Enter description"></textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Image URL</label>
                                    <input type="text" class="form-control" name="newlist[image.url]"
                                        placeholder="Enter image URL">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Price</label>
                                    <input type="number" class="form-control" name="newlist[price]"
                                        placeholder="Enter price">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Location</label>
                                    <input type="text" class="form-control" name="newlist[location]"
                                        placeholder="Enter location">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Country</label>
                                    <input type="text" class="form-control" name="newlist[country]"
                                        placeholder="Enter country">
                                </div>

                                <button class="btn btn-dark w-100" type="submit">
                                    Add Listing
                                </button>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>