<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<body>
    <h2>All Listings</h2>

    <form action="/add-new" method="get">
        <button type="submit">Add new</button>
    </form>
    <br><br><br>

    <%for(let listing of alllisting){%>
    <li><a href="/<%= listing._id %>"><%= listing.title %></a></li>
    <%}%>
</body>
</html>