<%- include("includes/head.ejs") %>
<!-- ye hai include wala scene jo ki views me hi banega or default usme se hi jo universal code hoga yani koi specific template usko rakhega like headers and footers -->

<body>
    <h2>This is home page</h2>
    <input type="text">
    <button>click</button>
    <%= 1+2 %>
    <!-- ye hai ejs or isme tags alg hote hai or ye wala process krke output nikalta hai  -->
    <%= ["hk","kh"][1] %>
    <!-- yaha array define hua hai or sath me index print bhi ho raha hai -->
</body>
</html>