<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>

<div class="form-box">
  <h2>Create SocialPost</h2>

  <form method="post" action="http://localhost:3300/" >
    <input class="name" type="text" placeholder="Username" name="username" required>
    <input class="age" type="number" placeholder="Age" name="age" required>
    <input class="field" type="text" placeholder="Field of Work" name="field_of_work" required>
    <input class="quali" type="text" placeholder="Qualification" name="qualification" required>
    <input class="img" type="text" id="profile_image" name="profile_image" placeholder="Image Url">    
    <textarea class="brief" placeholder="Brief Description" name="brief_description" rows="3" required></textarea>

    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>