<div class="container-fluid px-5">
    <div class="row align-items-center">

        <!-- Left -->


        <!-- Right -->

    </div>
</div>
<footer class="bg-body-tertiary text-dark text-center py-4 mt-5">
    <div class="container">
        <div class="first">
            <!-- Left -->
            <div class="mb">
                <div class="col-md text-center text-md-start mb-md-0">
                    <a href="#" class="text-dark text-decoration-none fw-semibold"><i class="fa-brands fa-facebook"></i></a>
                    <span class="mx-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>

                    <a href="#" class="text-dark text-decoration-none fw-semibold"><i class="fa-brands fa-instagram"></i></a>
                    <span class="mx-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>

                    <a href="#" class="text-dark text-decoration-none fw-semibold"><i class="fa-brands fa-whatsapp"></i></a>
                    <span class="mx-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    
                    <a href="#" class="text-dark text-decoration-none fw-semibold"><i class="fa-brands fa-twitter"></i></a>
                    <span class="mx-2"><i class="fa-solid fa-ellipsis-vertical"></i></span>

                </div>
            </div>
            <!-- Right -->
            <div class="mb">
                <!-- <div class="col-md text-center text-md-end"> -->
                <span>© 2026 MR Bnb, Inc.</span>
                <span class="mx-2">·</span>

                <a href="#" class="text-dark text-decoration-none">Privacy</a>
                <span class="mx-2">·</span>

                <a href="#" class="text-dark text-decoration-none">Terms</a>

                <a href="#" class="text-dark ms-4 me-3">
                    <i class="bi bi-facebook fs-4"></i>
                </a>

                <a href="#" class="text-dark me-3">
                    <i class="bi bi-twitter-x fs-4"></i>
                </a>

                <a href="#" class="text-dark">
                    <i class="bi bi-instagram fs-4"></i>
                </a>
            </div>
        </div>
        <div class="mb-3">
            <a href="#" class="text-white mx-2"><i class="bi bi-facebook fs-4"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-instagram fs-4"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-twitter-x fs-4"></i></a>
            <a href="#" class="text-white mx-2"><i class="bi bi-github fs-4"></i></a>
        </div>

        <p class="mb-1">Made with learnings and development</p>
        <small>&copy; 2025 My Website. All Rights Reserved.</small>
    </div>
</footer>